/*STYLE BOARD
color pallete:
  Primary
  Secondary

fonts:
  font-family: 'Righteous', cursive;
  font-family: 'Megrim', cursive;
  font-family: 'Jaldi', sans-serif;
*/

/*GLOBAL*/
img {
  width:45%;
  opacity: .5;
  float: right;
  border-radius: 100%;
}

body {
  background: url(../img/handmadepaper.png);
}

h1 {
  float: left;
  display: inline-block;
  margin: auto;
  font-family: 'Righteous', cursive;
}

/*NAVIGATION*/
a {
  display: inline-block;
  background: darkgrey;
  border-radius: 25%;
  width: 90%;
  height: 35px;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
  color: white;  
}

li {
  display: inline-block;
  font-family: 'Megrim', cursive;
}



/*LAYOUT*/

img {
  border: 100px;
  max-width: 50%;
}

.grid-container {
  text-align: center;
  display: inline-block;
  margin: 50px 20px;
  padding:  50px 20px;
}



/*TYPOGRAPHY*/
h1 {
  color: rgba(0,0,0,.5);
  letter-spacing: 4px;
}


p {
  padding: 20px;
  margin: 0;
  font-family: 'Jaldi', sans-serif;
  }