/*STYLING ASSEST
Color Scheme:
  White
  Yellow - #
  Black

Fonts
  Headings - Ubuntu - 700
  Body Copy - Tinos - 400 or 700
*/

/*Sticky Header*/
#full-header {
  position: fixed;
  top: 0;
  z-index: 1;
  margin-bottom: 50px;
}

#body-copy {
  position: relative;
  z-index: -1;
  margin-top: 250px;
  margin-right: 20%;
  margin-bottom: 5%;
  margin-left: 10%;

  
}

/*GLOBAL STYLING*/

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3em;
  margin-top: 65px;
}

h2 {
  font-family: 'Tinos', serif;
  font-size: 1.5em;
  font-weight: 400;
  margin-top: -30px;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
}

p,
ul {
  font-family: 'Tinos', serif;
}

nav {
  font-family: 'Tinos', serif;
  max-width: 170px;
  margin-top: -110px;
  padding-right: %; 
  margin-right: 2%;
  text-align: center;
}

li, a {
  text-decoration: none;
  list-style: none;
}

a:link,
a:visited {
  color: black;
}

a:hover {
  color: grey;
  font-weight: 700;
}

a:active {
  color: white;
  font-weight: 400;
}

img {
  border-radius: 100%;
}

footer {
  color: white;
  background-color: black;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  padding: 10px;
  font-size: .5em;
  letter-spacing: 1px;
}


/*STYLING*/

div {
  background: yellow;
  height: 240px;
  width: 100%;
}

.head {
  padding-left: 4%; 
  margin-left: 10%;
}

.nav-hr {
  width: 65px; 
  height: 2px;
  background-color: black;
  border: 0;
}

.home-pic {
  height: 180px;
  width: 180px;
  float: right;
  margin-top: -165px;
  margin-right: 270px;
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  margin-top: 10px;
}


/*GRID CONTAINER LAYOUT*/
.head {
  margin: ; /*  */
  padding: ;  /*  */
  width: ;  /*  */
}

.nav {
  margin: ; /*  */
  padding: ;  /*  */
  width: ;  /*  */
}

.home-pic {
  margin: ; /*  */
  padding: ;  /*  */
  width: ;  /*  */
}