/*STYLING ASSEST
Color Scheme:
  White
  Yellow - #ffea01
  Black

Fonts
  Headings - Ubuntu - 700
  Body Copy - Tinos - 400 or 700
*/

/*Sticky Header*/
nav {
  position: fixed;
  top: 0;
  z-index: 1;
  font-family: 'Tinos', serif;
  max-width: 170px;
  padding-right: 3%; 
  margin-right: 2%;
}

#body-copy {
  position: relative;
  z-index: -1;
  margin-top: 5%;
  margin-right: 20%;
  margin-bottom: 5%;
  margin-left: 10%;

}

/*GLOBAL STYLING*/

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3em;
  padding-top: 65px;
  margin: auto;
  padding-left: 5%;
  padding-right: 30%;
  margin-right: 30%;
}

h2 {
  font-family: 'Tinos', serif;
  font-size: 1.5em;
  font-weight: 400;
  margin: auto;
  padding-left: 5%;
  margin-right: 30%;
  padding-bottom: 5%;
  margin-bottom: 5%;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
}

p,
ul {
  font-family: 'Tinos', serif;
  color: gray;
}

li, a {
  text-decoration: none;
  list-style: none;
}

a:link,
a:visited {
  color: black;
}

a:hover {
  color: grey;
  font-weight: 700;
}


footer {
  color: white;
  background-color: black;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  padding: 10px;
  font-size: .5em;
  letter-spacing: 1px;
}


/*STYLING*/

#full-header {
  background: #ffea01;
  height: 100%;
  width: 100%;
  margin: auto;
}

.head {
  padding-left: 6%; 
  margin-left: 10%;
}

.nav-hr {
  width: 65px; 
  height: 2px;
  background-color: black;
  border: 0;
}

.nav-logo {
  max-height: 40px;
  max-width: 40px;
  margin: 20%;
  -webkit-filter: grayscale(100%);
}

.home-pic {
  border-radius: 100%;
  max-height: 35%;
  max-width: 35%;
  margin: auto; 
}

.welcome {
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20%;
  padding: auto;
  letter-spacing: 1px;
  line-height: 1.5em;
}

.resume-welcome {
  display: block;
  margin-left: 15%;
  margin-right: 10%;
  margin-bottom: 10%;
  padding: auto;
  letter-spacing: 1px;
  line-height: 1.5em;
}

.resume {
  display: block;
  margin-left: 15%;
  margin-right: 35%;
  margin-bottom: 7%;
/*  padding: auto;  */
}

.resume-2 {
  display: block;
  margin-left: 15%;
  margin-right: 30%;
  margin-bottom: 7%;
  padding: auto;
}

.resume-3 {
  display: block;
  margin-left: 15%;
  margin-right: 30%;
  margin-bottom: 20%;
  padding: auto;
}


footer {
  position: fixed;
  bottom: 0;
  z-index: 2;
  width: 100%;
  margin-top: 10px;
}


/*RESUME DOWNLOAD LINK*/
.download {
  max-height: 16px;
  max-width: 16px;
  text-align: center;
}


/*CONTACT*/
.vector {
  display: inline-flex;
  float: left;
  margin-left: 10%;
  max-height: 80%;
  max-width: 80%;
}


/*GALLERY*/


.gallery .item {
  margin-bottom: 15%;
}

.controls {
  max-height: 100%;
  max-width: 100%;
  display: flex;
  float: left;
/*
  margin-top: 2%;
  padding-top: 3%;
*/
  margin-left: 7%;
  margin-bottom: 5%;
}

.control-operator {
  z-index: 2;
  height: 50%;
  width: 50%;
}

.control-button {
  margin-top: 5%;
  height: 90px;
  width: 90px;
}

.gallery {
  height: 100%;
  width: 100%;
  margin-left: 7%;
  margin-top: 15%;
}

/*
.item, .overview {
  margin-top: 5%;
}
*/


/* MEDIA QUERIES */
@media screen and (max-width: 780px) {

  .vector {
  margin-left: 25%;
  margin-right: 40%;
  margin-bottom: 5%;
  max-height: 80%;
  max-width: 80%;
  }
}


@media screen and (max-width: 630px) {

  nav {
    margin-left: -2%;
  }
  
  h1, h2 {
   margin-left: 10%;
  }
  
  .welcome, .resume-welcome, .resume, .resume-2, .resume-3 {
    font-size: .8em;
    margin-left: 25%;
    margin-right: 10%;
    margin-bottom: 15%;
  }
  
  .resume-welcome {
/*    font-size: .75em;*/
  }
}



@media screen and (max-width: 530px) {

  nav {
    margin-left: -5%;
    padding: -1%;
  }
  
  .nav-hr {
    max-width: 50%;
    margin-left: -3%;
  }
  
  .nav-logo {
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 3%;
    max-width: 30%;
  }
  
  .vector {
    margin-top: 8%;
    margin-left: 25%;
    margin-right: 30%;
    margin-bottom: 5%;
    max-height: 30%;
    max-width: 50%;
  }
}
  